@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Base */
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --border: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 66.9%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --border: 216 34% 17%;
    --ring: 212.7 26.8% 83.9%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-feature-settings: "rlig" 1, "calt" 1;
  font-variation-settings: normal;
}

@layer base {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem; /* max-w-7xl */
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem;
  }
  @media (min-width: 640px) { /* sm */
    .container {
      padding-left: 1.5rem; /* px-6 */
      padding-right: 1.5rem;
    }
  }
  @media (min-width: 1024px) { /* lg */
    .container {
      padding-left: 2rem; /* px-8 */
      padding-right: 2rem;
    }
  }
}

